.publicity {
    position: relative;
}

.publicity__banner {
    width: 100%;
}

.publicity__title {
    font-family: $second-font;
    display: flex;
    position: absolute;
    left: 1000px;
    top: -20px;
    font-size: 55px;
    text-align: end;
    padding: 20px $LeftSpace;
}

.publicity__text {
    font-family: $primary-font;
    position: absolute;
    top: 630px;
    font-size: 30px;
    font-weight: 600;
    padding: 20px $LeftSpace;
}