.specfication__songs {
    width: 40%;
}

.specification__coverAl {
    width: 59%;
    position: relative;
}

.specification__title {
    font-family: $second-font;
    font-size: 60px;
    position: absolute;
    top: 1660px;
    left: 900px;
    padding: 20px $LeftSpace;
}

.spicification__text {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    top: 1860px;
    left: 690px;
    list-style-type: none;
}