.Menu {
    &__nave {
        display: flex;
        justify-content: space-between;
        background: $primary-color;
        color: white;
        font-family: $primary-font;
        font-size: 30px;
        width: 100%;
        height: 81px;
        padding: 20px $LeftSpace;
        pointer-events: auto;
    }
    &__link {
        color: white;
        text-decoration: none;
    }
    @media (max-width: $breakpoint-respo) {
        display: none;
    }
}

.BtnHamburger {
    background-color: $primary-color;
    width: 40px;
    height: 40px;
    display: none;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    border: none;
    align-items: stretch;
    span {
        height: 3px;
        width: 100%;
        background-color: white;
    }
}

.banner {
    width: 100%;
}