$primary-color: #101939;
$primary-font: 'Dosis',
sans-serif;
$second-font: 'Philosopher',
sans-serif;
$LeftSpace: 60px;
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

@import 'mainHeader';
@import 'mainSearch';
@import 'mainMenu';
@import 'mainpublicity';